<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<style type="text/css">
	.hello{
		font-size: 20px;
		color: #f0f0f0;
		background: red;
	}
</style>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
    <p>{{ message | captalize}}</p>
    <input v-model="message">
    <p>哈哈哈{{wang | captalize}}</p>
    
    <input type='text' v-model="wang">
    <button v-on:click="fanzhuan">dianji</button>

    <p>原始字符串: {{ messageone }}</p>
    <p>计算后反转字符串: {{ reversedMessageone }}</p>
    <p>使用方法后反转字符串: {{ reversedMessageone2() }}</p>
    
</div>

<div id="wang">
	<ul>
		<template v-for="excle in vexcle">
			<li v-bind:class="{ hello: isActive }">{{excle.name}}</li>
			<li>-----------------------</li>
		</template>
		<li v-for="(value,key,index) in object">{{index}}.{{key}}:{{value}}</li>
	</ul>
</div>

<div id="computed-test">
	<p>---------------------------------</p>
	<p>{{allsite}}</p>
	<p>{{name}}</p>
	<p>{{url}}</p>
	<p>----------------------------------</p>
	<input v-on:keyup.13="submit" type="button" value="监听enter键keycode-13提交">
	<input @keyup.enter="submit" type="button" value="监听enter键提交">
</div>
    
<script>

// v-bind用于绑定属性和数据 ，其缩写为" : " 也就是v-bind:id === :id

// <!-- 同上 -->
// <input v-on:keyup.enter="submit">
// <!-- 缩写语法 -->
// <input @keyup.enter="submit">

new Vue({
  el: '#app',
  data: {
    message: 'Runoob!',
	wang:'woshi',
	messageone: 'TunooG!',
  },
  methods:{
    fanzhuan:function(){
        this.wang=this.wang.split('').reverse().join('');
        this.message=this.message.split('').reverse().join('');
    },
    reversedMessageone2:function(){
    	return this.messageone.split('').reverse().join('')
    }
  },
  filters:{
    captalize:function(value){
        if(!value) return '';
        value = value.toString();
        return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  computed:{
	reversedMessageone:function(){
		return this.messageone.split('').reverse().join('')
	}
  },


})

new Vue({
	el: '#wang',
	data:{
		isActive: true,
		vexcle:[
			{name:'张三'},
			{name:'李四'},
			{name:'王五'}
		],
		object:{
			name: 'nick',
			age: 27,
			pro: 'FF'
		}
	}
})


var vm = new Vue({
	el: '#computed-test',
	data:{
		name: 'google',
		url: 'http://www.google.com'
	},
	computed:{
		allsite:{
			get:function(){
				return this.name+ ' '+this.url;
			},
			set:function(newvalue){
				var names = newvalue.split(' ');
				this.name = names[0];
				this.url = names[names.length-1]
			}
		}
	},
	methods:{
		submit:function(){
			alert('我点击enter键')
		}
	}
})
vm.allsite='菜鸟教程 http://www.runoob.com';
</script>
</body>
</html>